@keyframes logoRotate {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

@keyframes pulseBtn {
    0% {
        -webkit-box-shadow: 0 0 0 15px#e0e0e0;
        box-shadow: 0 0 0 15px#e0e0e0;
        opacity: 1;
    }

    50% {
        -webkit-box-shadow: 0 0 0 30px rgba(224,224,224,0.6);
        box-shadow: 0 0 0 30px rgba(224,224,224,0.6);
        opacity: 1;
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px rgba(224,224,224,0);
        box-shadow: 0 0 0 40px rgba(224,224,224,0);
        opacity: 0;
    }
}


@font-face {
    font-family: "Prototype";
    src: url("../fonts/Prototype.ttf");
}

@keyframes movebounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
}

.logo{
    height : 250px;
    width:250px;
    font-family: "Prototype";
    z-index: 1;
    -webkit-animation: logoRotate 2.8s linear infinite;
    animation: logoRotate 2.8s linear infinite;
}

nav a {
    margin: 20px 10px ;
    color: black;
    text-decoration: none;
}



nav a:hover{
    color: #9960a7;

}

nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid#8080801c;
    border-radius: 80px;
    background-color:white;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 7px 3px#0000001a;
    width: 98%;
    z-index: 10;
}

ul{
    list-style-type:none;
}

h1{
    text-align: center;
}

.logo-nav{
    height: 70px;
    font-family: "Prototype";
    margin-right: 10px;
    padding: 4px;
}

.logoutBtn{
    color: black;
}

.logoutBtn:hover{
    cursor: pointer;
    color:  #9960a7;
}

.neu{
    display: flex;
    align-items: center;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    font-size: 17px;
    width: 75px;
    align-items: center;
    justify-content: center;
    color: gray;
}

.neu:hover {
    box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px rgba(255,255,255, 0.5);
}

.neu-card{
    margin-left: auto;
    margin-right: auto; 
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);    
}




section{
    width: 100%;
}

.love i{
    color :red;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    background-color: #2d2e32;
    text-align: center;
}

.love{
    color: white;
    width: 100%;
    font-family: Roboto;
    padding-top:10px
}


#Landing{
    background-image: url('../img/bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.fullScreen{
    height: 100vh;
}

.login::after{
    content: '\00007C';
    margin-left: 20px;
}

.login:hover:after{
    content: '\00007C';
    margin-left: 20px;
    color: black;
}

.loginLogo{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.loginFlex{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.margin-center{
    margin-left: 20%;
    margin-right: 20%;
}


.logo-text{
    text-align: center;
    font-family : "Prototype";
    position: absolute;
    top:112px;
    color: #302f2f;
    font-size: 76px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

nav{
    position: fixed;
}

body{
    margin: 0px;
    background-color: #E0E5EC;
}

a{
    font-family: Poppins;
}

.landing-circle {
    position: absolute;
    top: 20px;
    left: 20px;
}


.landing-circle1 {
    -webkit-animation: movebounce 2.8s linear infinite;
    animation: movebounce 2.8s linear infinite;
}

.landing-circle2 {
    -webkit-animation: movebounce 3s linear infinite;
    animation: movebounce 3s linear infinite;
}

.landing-circle3 {
    -webkit-animation: movebounce 3.9s linear infinite;
    animation: movebounce 3.9s linear infinite;
}

.landing-circle1 img {
    position: absolute;
    top: 164px;
    left: 198px;
    filter: hue-rotate(-632deg);
    transform: scale(0.85);
}

.landing-circle2 img {
    position: absolute;
    top: 195px;
    left: 63px;
    filter: hue-rotate(-632deg);
    transform: scale(0.85);
}

.landing-circle3 img {
    position: absolute;
    top: 62px;
    left: 62px;
    filter: hue-rotate(-632deg);
    transform: scale(0.85);
}

.next{
    height: 50px;
    width: 75px;
    margin-top: 17px;
    margin-left: 3px;
}

.roundBtn{
    border-radius: 50px;
    border : 1px solid #0000;
    height: 80px;
    width: 80px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.05);
    
}

.roundBtn:hover{
    cursor: pointer;
    background-color: #4a434b12;
}

.loginBox{
    margin-top: 20%;
}

.roundBtn::before {
    -webkit-animation: 2.5s pulseBtn 0s linear infinite;
    animation: 2.5s pulseBtn 0s linear infinite;
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 1;
    top: 0px;
}

.icon-mar{
    margin-left: 20px;
}

.icon-mar-r-4{
    margin-right: 4px;
}

.fab{
    position: sticky !important;
    bottom: 50px;
    left: 95%;
}

.section_title{
    background-color:#2d2e32;
    color:white;
    margin: 0px;
    padding: 10px;
}

.fab_color{
    background-color: #e0e5ec !important;
    color: #9960a7 !important;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5) !important;
}

.fab_color:hover{
    background-color: #d5d5d5 !important;
}

.card{
    background-color:#E0E5EC;
}

html{
    scroll-behavior: smooth;
}

.pointer:hover{
    cursor: pointer;
}